.form,
.input_wrapper {
  display: flex;
  flex-direction: column;
  text-align: left;
  gap: 0.75rem;
  /* color: hsl(240, 25%, 24%);
  color: hsl(14, 32%, 44%);
  color: hsl(116, 18%, 33%);
  color: hsl(64, 69%, 70%); */
}

.input_wrapper {
  gap: 0.25rem;
}

input {
  width: 9rem;
  height: 1rem;
}
button {
  margin-top: 1rem;
  padding: 0.25rem;
}
