*,
*::before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.flex-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flex-row-start {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.flex-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

@media (min-width: 180px) {
  .btn {
    font-size: 15px;
    color: #fff;
    background: black;
    opacity: 1;
    outline: none;
    border-radius: 3px;
    border: none;
    transition: all 1s ease-in-out;
  }

  .btn:active {
    opacity: 0.9;
    color: #757474;
    font-size: 14px;
  }
  /*here*/
  .home_container {
    width: 100vw;
    height: auto;
    background-color: #c5c5c5;
  }

  .welcome {
    width: 100vw;
    height: 150px;
    display: grid;
    background-image: url("../assets/images/maria-teneva-unsplash.jpg");
    background-position: top 0px right 50%;
    background-repeat: no-repeat;
    background-size: cover;
    grid-auto-flow: column;
    grid-auto-columns: 100%;
  }

  .book_show {
    position: relative;
    width: 100vw;
    height: auto;
    padding: 0.5rem 0.5rem 0;
    gap: 0.5rem;
    border: none;
  }

  .fa-book-open {
    color: #757474;
  }

  .meals_borderplate {
    position: relative;
    width: 100vw;
    height: auto;
    color: #213547;
  }

  .gen_title_right,
  .gen_title_left,
  .gen_title_center {
    width: 100vw;
    padding: 0.5rem 1rem 1rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }

  .gen_title_left {
    justify-content: flex-start;
  }

  .gen_title_center {
    justify-content: center;
  }

  /*dish card*/

  .meal_content {
    position: relative;
    width: 100vw;
    padding: 0.25rem 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(164px, 1fr));
    grid-gap: 0.5em;
  }

  .dish {
    width: 100%;
    height: 100%;
    background-color: #24a163;
  }

  .dish_content {
    width: 100%;
    height: 100%;
    padding: 0.5rem 0.5rem 0;
    border-radius: 10px;
    flex-wrap: wrap;
    gap: 0.5rem;
  }

  .my_dish_img {
    width: 100%;
    height: 170px;
    border-radius: 10px;
    object-fit: cover;
  }

  .spec_meal {
    width: 100vw;
    padding: 0.5rem 0.25rem;
    font-size: 0.875em;
    display: flex;
    justify-content: space-between;
  }

  .spec_meal .name_meal {
    width: 75%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: left;
    flex: 1;
  }

  .spec_meal div {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: right;
    text-align: right;
    flex: 1;
    gap: 0.25rem;
  }

  .fa-star,
  .fa-star-half-stroke {
    transform: scale(0.58);
  }

  .spec_meal .ratings {
    position: relative;
    left: 5px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    gap: 0.25rem;
  }

  .spec_country p {
    width: 100%;
    padding: 0.75rem 0 0.5rem;
    background-image: url("../assets/images/susan-gold-unsplash.jpg");
    background-clip: text;
    font-size: 0.875em;
    font-weight: bold;
    text-align: center;
  }

  .spec_ingredients {
    width: 100vw;
    padding: 0.5rem;
    margin: 1rem 0 0.5rem;
    display: flex;
    justify-content: space-between;
  }

  .title_ing {
    width: 90px;
    padding: 0.25rem 0;
    font-size: 0.975em;
    border-bottom: 1px solid black;
  }

  .side_ing {
    position: relative;
    top: -0.75rem;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    gap: 0.25rem;
  }

  .side_order {
    width: 100%;
  }

  .side_ct_order {
    width: 100%;
    height: 66px;
    gap: 0.5rem;
  }

  .side_ct_order li {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  .side_ct_order .dish_price,
  .side_ct_order .btn_order {
    width: 60%;
    padding: 0.25rem 0;
    color: #fff;
    background-color: #213547;
    display: flex;
    justify-content: center;
  }

  .side_ct_order .side_btn_order {
    background-color: rgb(94, 41, 41);
  }

  .ingredients_used {
    width: 5.5rem;
    height: 100%;
    font-size: 0.72rem;
    flex-wrap: wrap;
    gap: 0.1rem;
  }

  .btn_order {
    padding: 0.1rem 0.5rem;
    color: #eee;
    background-image: linear-gradient(
      to bottom,
      #444642,
      #40433d,
      #3d3f39,
      #393c34,
      #363930
    );
    border-radius: 5px;
    border: 2px solid #213547;
  }
}

@media (min-width: 316px) {
  .btn {
    font-size: 17px;
  }

  .meal_content {
    padding: 0.25rem 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 1em;
  }

  .my_dish_img {
    width: 100%;
    height: 250px;
  }

  .spec_meal {
    font-size: 1em;
  }

  .fa-star,
  .fa-star-half-stroke {
    transform: scale(0.68);
  }

  .spec_meal .name_meal {
    width: 60%;
    padding-left: 0rem;
  }

  .spec_meal ul {
    width: 100%;
  }

  .spec_country p {
    font-size: 1.25em;
  }

  .title_ing {
    width: 120px;
    font-size: 1.25em;
  }

  .ingredients_used {
    width: 6.5rem;
    font-size: 1rem;
  }

  .btn_order {
    width: 7rem;
    padding: 0.3rem;
  }
}

@media (min-width: 430px) {
  .meal_content {
    padding: 0.5rem 1rem;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 0.5rem;
  }

  .my_dish_img {
    height: 200px;
  }

  .spec_country p {
    padding: 0.5rem 0 0.5rem;
  }

  .spec_ingredients {
    padding: 0.5rem;
    margin: 0.25rem 0 0.5rem;
  }
}

@media (min-width: 1054px) {
  .btn {
    font-size: 14px;
  }

  .meal_content {
    padding: 0.5rem 1rem;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 1rem;
  }

  .my_dish_img {
    height: 160px;
    padding: 0.5rem 0.5rem 0;
  }

  .spec_country p {
    padding: 0.25rem 0 0.5rem;
    font-size: 0.9em;
  }

  .spec_ingredients {
    padding: 0.25rem 0.5rem;
    margin: 0 0 0.5rem;
  }

  .title_ing {
    width: 72px;
    font-size: 0.75em;
  }

  .ingredients_used {
    width: 4rem;
    font-size: 0.85rem;
  }

  .btn_order {
    width: 5rem;
  }
}
